<html xmlns:th="http://www.thymeleaf.org">
	
<head>
<style>
html,body {
    width:1000px;
    background:blue;
}
.youtubePlaylistInfo {
	width:700px;
	background-color:gray;
}
.usermadePlaylists {
	float:right;
	width:300px;
}
</style>
</head>
 <body>
<div class="usermadePlaylists">
<p>Your playlists</p>
<hr></hr>
Add playlist
<form action="#" th:action="@{/viewPlaylist}" method="post">
  <label>Name:</label>
  <input type="text" name="name"/>
  <input type="submit" value="Submit" th:attr="value=${add}"/>
</form>
<br></br>

	<div th:if="!${#lists.isEmpty(usermadePlaylistInfoList)}">
	<table bgcolor="#404040">
	<tr th:each="info : ${usermadePlaylistInfoList}">
		<td width="70%"><a th:text="${info.getName()}" th:href="@{'/viewPlaylist?playlist=' + ${info.getName()}}"></a></td>
		<td width="30%" th:text="${info.getVideosAmount()}"></td>
		<td >
			<form method="post">
			<input type="hidden" th:value="${info.getName()}" name="delete" />
			<input type="submit" value="Delete playlist" />
			</form>
		</td>
	</tr>
	</table>
	
	</div>
	<div th:if="${#lists.isEmpty(usermadePlaylistInfoList)}">
		<table bgcolor="#404040">
			<tr>
			<td>
			<p>You have not made playlists yet</p>
			</td>
			</tr>
		</table>
	</div>

</div>
<div id="player"></div>
   



<div class="youtubePlaylistInfo" th:if="${#lists.isEmpty(youtubePlaylistInfoList)}">
<p>You have no playlists on YouTube!</p>

</div>
<div class="youtubePlaylistInfo" th:if="!${#lists.isEmpty(youtubePlaylistInfoList)}">
<table>
<tr th:each="info : ${youtubePlaylistInfoList}">
	<td width="70%" th:text="${info.getName()}"></td>
	<td width="20%" th:text="${info.getVideosAmount()}"></td>
	<td width="10%" th:text="${info.getPlaylistId()}"></td>
</tr>
</table>
</div>


</body>
</html>