<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" http-equiv="Content-type" content="application/x-www-form-urlencoded; charset=UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
html,body {
    width:1000px;
    background:gray;
}
.youtubePlaylists {
	clear:both;
}
.usermadePlaylist {
	width:360;
	float:right;
}
.player {
	width:640px;
}
	</style>
</head>

<script type="text/javascript" th:inline="javascript">
//<![CDATA[      
    var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var ScriptTag = document.getElementsByTagName('script')[0];
	ScriptTag.parentNode.insertBefore(tag, ScriptTag);
    var player;
	var videoIdList = [];
	var currentVideoIdArrayIndex = 1;
	var url;
	var placeholder = [[${usermadePlaylistList}]];
	
      function onYouTubeIframeAPIReady() {
    	  for(i = 0; i < placeholder.length; i++){
    		  videoIdList.push(placeholder[i].link);
    	  }
          player = new YT.Player('player', {
        	height: '360',
            width: '640',
            videoId: videoIdList[0],
          	events: {
                'onReady': onPlayerReady, 
                'onStateChange': onPlayerStateChange,
            }
          });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
      }
    
      function onPlayerStateChange(event) {
          if (event.data == YT.PlayerState.ENDED) {
        	 url  = videoIdList[currentVideoIdArrayIndex];
        	 player.cueVideoById(url);
        	 currentVideoIdArrayIndex++;
        	 player.playVideo();
          }
       }
      //]]>
</script>
<body>
<div id="player" class="player">
<input type="hidden" id="usermadePlaylistList" value="${usermadePlaylistList}" />     
</div>

<div class="usermadePlaylist">
	<div th:if="!${#lists.isEmpty(usermadePlaylistList)}" >
		<form action="#" method="post" th:action="@{playlists/delete}" th:object="${usermadePlaylist}">
			<table bgcolor="#404040">
			<tr th:each="userPlaylist, status : ${usermadePlaylistList}">
				<td width="70%" th:text="${userPlaylist.getVideoTitle()}"></td>
				<td width="30%" th:text="${userPlaylist.getTimesRepeated()}"></td>
				<td>
				<input type="checkbox" th:field="*{usermadePlaylists[__${status.index}__].id}" th:value="${userPlaylist.id}"/> 
				</td>
			</tr>
			
		</table>
		<input type="hidden" th:value="${playlistName}" name="playlistName" />
		<input type="submit" name="deletePlaylistName" value="Delete" />
		</form>
	</div>
</div>

<div class="youtubePlaylists">
<div class="panel-group">
	<form method="post" th:action="@{playlists/add}" th:object="${addList}">
	<div th:if="!${#lists.isEmpty(youtubePlaylistList)}" >	
  	<div th:each="youtubePlaylist, status : ${youtubePlaylistList}" >
  		<div class="panel panel-default">
    		<div class="panel-heading" >
      		<h4 class="panel-title">
        		<a data-toggle="collapse" th:href="|#collapse__${status.index + 1}__|"
        		 th:text="${youtubePlaylist.getName()}">
        		</a>
      		</h4>
    		</div>
    		<div th:id="|collapse__${status.index + 1}__|" class="panel-collapse collapse">
    		<div th:if="!${#lists.isEmpty(youtubePlaylist.getPlaylistItemsInfoList())}" >
      		<ul class="list-group" th:each="item, itemStatus : ${youtubePlaylist.getPlaylistItemsInfoList()}" >
        		<li class="list-group-item">
        		    <input type="checkbox" th:field="*{addList[__${itemStatus.index}__]}" th:value="${item.toString()}" th:text="${item.getTitle()}"/>
    			</li>
        	</ul>
      		<div class="panel-footer"></div>
      		</div>
    		</div>
  		</div>
  	</div>
	<input type="hidden" th:value="${playlistName}" name="playlistName" />
	<input type="submit" value="Add"/>
	</div>
	</form>
</div>
</div>

<div>

<form method="get" action="#" th:action="@{playlistst/links}">
    <input type="hidden" th:value="${playlistName}" th:name="playlistName"/>    
    <input type="submit" value="Links" />
</form>

<input type="file" id="files" name="files[]" multiple="multiple" />


<input id="clickMe" type="button" value="clickme" onclick="post('/playlists/compare');" />

<script th:inline="javascript">
/*<![CDATA[*/
var output = [];

	function handleFileSelect(evt) {
		var files = evt.target.files;
		for (var i = 0, f; f = files[i]; i++){
			var str = f.name;
			str = str.replace(/%20/g, " ");
			str = str.replace(/\.[^/.]+$/, "");
			output.push((str));
		}
	}
	
	document.getElementById('files').addEventListener('change', handleFileSelect, false);
	
	function post(path) {
		var playlist = [[${playlistName}]];
		$.ajax({
		    url: path,
		    type : "POST",
		    data : {
		    	files : output,
		    	playlistName : playlist
		    },
			success:function(response){
				var responseJson = jQuery.parseJSON(JSON.stringify(response));

				var $ul = $("<ul>").appendTo($("#result"));
		        $.each(responseJson, function(index, item) {
		            $("<li>").text(item.videoTitle).appendTo($ul);
		        });
			}
		});
	}
	
/*]]>*/
</script>
<ul id="result"></ul>
</div>

</body>
</html>